<div>
	<img src="/assets/mainImage.png">
</div>
<div>
	<h3>신이 나를 만들 때</h3>
	<form action="homework/maple" method="get">
	<input class="input" type="text" name="input_text" placeholder="이름을 입력하시오">
	<input class="start" type="submit" value="시작하기 -> ">
	</form>
</div>
