<h1> 신이 <%=@name%>(을)를 만들 때<h1>
<div class ="col-4">
	<p>일단 <%=@angel[0]%>을 한스푼 넣고<p>
	<img src="/assets/01.png" alt="#">
</div>

<div class ="col-4">
	<p><%=@angel[1]%>도 세스푼<p>
	<img src="/assets/02.png" alt="#">
</div>

<div class ="col-4">
	<p><%=@angel[2]%>?? 뭔지 모르겠는데 한번 넣어봐야지<p>
	<img src="/assets/03.png" alt="#">
</div>